# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Environment files
.env
*.env

# Jupyter & Streamlit
.ipynb_checkpoints/
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/
